<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
   <footer class="footer">
    <div class="footer-inner">
        <div class="social-media">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-twitter"></i>

        </div>
        <div class="menu">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/secret">Secret</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li> 
            </ul>
        </div>
    </div>
    <div class="footer-outer">
        Copyright &copy; MERN Stack Student| All rights reserved
    </div>
   </footer>
</html> 