<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/partials.css">
</head>
<body>
    <div class="hero">
        <div class="hero-inner">
            <div class="content">
                <p class="top">THIS IS ME</p>
                <h1>{{name}}</h1>
                <p>Just a normal guy lost in the wanderLust</p>
                <button>HERE ME</button>
            </div>
            <div class="img">
                <img src={{img}} alt=""> 
            </div>
        </div>
    </div> 
</body> 
</html>  