<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="css/partials.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    
</head>
<body>
    <nav class="nav">
        <div class="logo">
                <h1>Logo</h1> 
        </div>
        <ul class="ul">
            <li><a href="/">Home</a></li>
            <li><a href="register">Register</a></li>
            <li><a href="about">About</a></li>
            <li><a href="secret">Secret</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="#">Account</a>
                <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>

        <div class="icon">
            <i class="fa-solid fa-bars"></i> 
            <i class="fa-solid fa-xmark"></i>  
        </div>
    </nav>
    <script src="js/navbar.js"></script>
</body>

</html>